@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    background: #003049;
    color: white;
}